appdirs==1.4.4
autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2020.12.5
cfgv==3.3.0
chardet==4.0.0
distlib==0.3.2
filelock==3.0.12
identify==2.2.10
idna==2.10
MouseInfo==0.1.3
nodeenv==1.6.0
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.2.0
pre-commit==2.13.0
PyAutoGUI==0.9.52
pycodestyle==2.7.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python3-xlib==0.15
PyTweening==1.0.3
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.5
virtualenv==20.4.7
wikipedia==1.4.0
